.loginName
  border: none
  border-bottom: 2px black solid
  height: 20px
  margin: 20px 0px
  padding: 0px 5px

.loginPassword
  border: none
  border-bottom: 2px black solid
  height: 20px
  margin: 20px 0px
  padding: 0px 5px

input[type=submit]
  width: 100px
  border-radius: 25%
  background-color: white
  